{% extends 'base.html' %}
{% block content %}

  <body class="text-center">
    <form class="signup-form" method='POST' action="{% url 'login' %}">
      {% csrf_token %}
  
      <center>
        <br><br>
       <!-- <div style="width:700px; background-color:rgba(240, 240, 240, 0.29)"> -->
        <br>
      <h1 class="h1 mb-3 font-weight-normal">Log in</h1><br>
      <label for="inputEmail" class="sr-only">Id</label>
      <input type="text"  id="login" required name="login" class="form-control" placeholder="User Id" style="width:250px;font-size : 15px;">
      <br>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="password" class="form-control" name="password" placeholder="password" required style="width:250px;font-size : 15px;"><br>     
      <br>
      <button class="btn btn-lg btn-primary btn-block" type="submit" value="Sign Up"  style="font-size : 15px; background-color : orange; width:150px;border:orange ">Log in</button>
    <br>
    <br>  
    </div>
      <br><br>
      
    </center>
      
    </form>



  </body>

<!--  -->
<div class="line"></div>

{% endblock %}